<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cdmst.smartsilver" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        <activity
            android:name="src.activities.ActMain"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="src.activities.Step01.ActStep01"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name="src.activities.Step01.ActStep0102">
        </activity>

        <activity android:name="src.activities.Step01.ActStep0103">
        </activity>

        <activity android:name="src.activities.Step01.ActStep0104">
        </activity>

        <activity android:name="src.activities.Step02.ActStep0201">
        </activity>

        <activity android:name="src.activities.Step02.ActStep0202">
        </activity>

        <activity android:name="src.activities.Step02.ActStep0203">
        </activity>

        <activity android:name="src.activities.Step02.ActStep0204">
        </activity>

        <activity android:name="src.activities.Step02.ActStep0205">
        </activity>

        <activity android:name="src.activities.Step03.ActStep0301">
        </activity>

        <activity android:name="src.activities.Step03.ActStep0302">
        </activity>

        <activity android:name="src.activities.Step03.ActStep0303">
        </activity>

        <activity android:name="src.activities.Step03.ActStep0304">
        </activity>

        <activity android:name="src.activities.Step03.ActStep0305">
        </activity>

        <activity android:name="src.activities.Step04.ActStep0401">
        </activity>

        <activity android:name="src.activities.ActTest">
        </activity>


    </application>

</manifest>
